.Home {
    background: linear-gradient(var(--base-gradient));

    &__content {
        display: grid;
        grid-template-areas: 'filter visualizer';
        grid-template-columns: 1fr minmax(400px, 650px);
        padding: 8em 1.5em;
    }

    & .ChordVisualizer {
        grid-area: visualizer;
    }
}
