.Button {
    background-color: var(--contrast-medium);
    border: none;
    border-radius: var(--base-radius);
    box-shadow: var(--base-shadow);
    color: white;
    height: 2.2em;
    width: 6em;

    &:active {
        transform: scale(0.7);
        transform: translateY(4px);
    }
}
